<div>
  <!-- the whole user input form starts here -->
  <div class="event create">
    <h2>Name your event:</h2>
    <input type="text" class="form-control eventname text-center" ng-model="eventName">
  
    <h2>Invite some friends:</h2>
    <!-- Dynamic search form for friends -->
    <form>
      <fieldset class="form-group">
        <input class="form-control" ng-model='friendName' id="friendSearch" placeholder="Filter by friend's name, then click to invite"/>
      </fieldset>
    </form>

    <div class='well well-sm'>
      <div class="row scroll">
        <div style="width: {{friends.length * 190}}px">
          <div class="square text-center" ng-repeat="friend in friends | filter:{name:friendName}" ng-click="addFriend(friend)">
            <img class="card-img-top" src='{{friend.picture}}'>
            <div class="card-block">
              <h4 class="card-title">{{friend.name}}</h4>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <!-- List of attendees -->
    <div class='well well-sm' ng-hide='showLonelyMessage'>
      <h3 class='eventSubtitle'>INVITEES</h3>
      <div class="row text-center">
        <h3 ng-show="showLonelyMessage">{{lonelyMessage}}</h3>
        <div class="square text-center" ng-repeat="attendee in attendees" ng-click="removeFriend(attendee)">
          <img class="card-img-top" src='{{attendee.picture}}'>
          <div class="card-block">
            <h4 class="card-title">{{attendee.name}}</h4>
          </div>
        </div>
      </div>
    </div>

    <form role="form" ng-submit="addDateTimes()">
      <div class="form-group">
        <h2>Pick a Date and Time</h2>
          <div class='well well-sm'>
            <label for="Date"></label><br>
            <input type="date" id="Date" ng-model="date" max="2100-12-31">
            <br>
            <uib-timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
            <input type="submit" value="Add" class="btn btn-primary"/>
          </div>
          <h3 class="alert alert-danger validationMessage" ng-show="showDateTimeMessage">{{dateTimeMessage}}</h3>
      </div>
    </form>

    <!-- List of picked dates -->
    <div class="list-group">
      <a href="#" class="list-group-item" ng-repeat="time in dateTimes" ng-click="removeDateTime(time)">
        <h4 class="list-group-item-heading">{{ time | date:'EEEE, MMMM d, yyyy @ h:mma' }}
        <button class="removeTimeButton btn btn-danger" ng-click="removeDateTime(time)">Remove</button>
        </h4>
      </a>
    </div>

    <!-- Decide by date -->
    <div>
      <form role="form" ng-submit="addDecideByTime()">
        <div class="form-group">
          <h2>When would you like your friends to decide by?</h2>
            <div class='well well-sm'>
              <input ng-model="hoursBefore" type="number" name="quantity" min="1" max="24"> hours before earliest event.
              <br>
              <br>
              <input type="submit" value="Add" class="btn btn-primary"/>
            </div>
            <h3 class="alert alert-danger validationMessage" ng-show="showDecideByMessage">{{decideByMessage}}</h3>
        </div>
      </form>

      <div class="list-group" ng-if="decideByTime">
        <a class="list-group-item">
          <h4 class="list-group-item-heading">{{ decideByTime | date:'EEEE, MMMM d, yyyy @ h:mma' }}</h4>
        </a>
      </div>

      <!-- Dynamic search form using YelpAPI -->
      <form role="form" ng-submit="submit()" id="yelpSearch">
        <div class="form-group">
          <label for="termSearch">Enter the name of the restaurant:</label>
          <input type="text" class="form-control" id="termSearch" ng-model="term">
          <br>
          <label for="locationSearch">Enter a location:</label>
          <input type="text" class="form-control" id="locationSearch" ng-model="location">
        </div>
          <input type="submit" value="Search" class="btn btn-primary searchRestButton" ng-click='switch()'/>
          <button type="button" class="btn btn-info searchRestButton" data-toggle="collapse" data-target="#collapse" ng-show="yelpResults.length" ng-click="toggle = !toggle">{{toggle && 'Hide' || 'Show'}} results</button>
          <img src='css/spiffy.gif' ng-show="showSpiffy">
      </form>

      <!-- Search results from Yelp API -->
      <div class="well vertical collapse in" id="collapse" ng-show='showSearchResult'>
        <div class="row highlight" ng-repeat="restaurant in yelpResults">

          <div class="col-xs-1">
            <button type="button" class="voteButton" ng-click="addRemoveLocation(restaurant)" toggle-class="clicked">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>

          <div class="col-xs-2">
            <img class="restImage" src="{{restaurant.image_url}}" />
            <img class="restImage review" src="{{restaurant.rating_img_url_large}}" />
            <p>{{restaurant.review_count+'&nbsp;'+'reviews'}}</p>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-6 col-xs-offset-0 restInfo">
            <a target="_blank" href="{{restaurant.url}}" style="display:block;"><h3 class="card-title">{{restaurant.name}}</h3></a>
            <p class="card-text">{{restaurant.categories[0][0]}}</p>
            <a target="_blank" href="http://maps.google.com/?q={{restaurant.location.display_address[0]}} {{restaurant.location.display_address[2]}}" style="display:block;">{{restaurant.location.address[0] +',  '+ restaurant.location.city +',  '+ restaurant.location.state_code}}</a>
          </div>  
        </div>
      </div>

      <form role="form" ng-submit="submitEvent()" ng-show="checkChosen">        
        <h3 class='eventSubtitle'>MY PICKS</h3>
        <!-- List of locations -->
        <div class="well well-sm vertical collapse in" ng-show="checkChosen">
          <h3 class = "text-center" ng-show="showNoLocationsMessage">{{noLocationsMessage}}</h3>

          <div class="row highlight" ng-repeat="rest in locations">
            <div class="col-xs-2">
              <img class="restImage" src="{{rest.image_url}}">
              <img class="restImage review" src="{{rest.rating_img_url_large}}">
              <p>{{rest.review_count+'&nbsp;'+'reviews'}}</p>
            </div>

            <div class="col-xs-10">
              <h2 class="card-title">{{rest.name}}</h2>
              <p class="card-text">{{rest.categories[0][0]}}</p>
              <a target="_blank" href="{{rest.url}}" style="display:block;">Visit website</a>
              <a target="_blank" href="http://maps.google.com/?q=?{{rest.location.display_address[0]}} {{rest.location.display_address[2]}}" style="display:block;">Find in Google Maps</a>
            </div>  
          </div>
        </div>
        <h3 class="alert alert-danger validationMessage" ng-show="showValidationMessage">{{validationMessage}}</h3>
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </form>
    </div>
  </div>
</div>