body {
    overflow: scroll;
    font-family: 'Lato', sans-serif;
    background-width: 100%;
    background: url('http://static1.squarespace.com/static/55ca76e9e4b00d6bdfd5eab5/t/55ca9d6be4b091def97caaab/1439341931384/drinks.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.standardBodyClass {
  background-image: url('http://static1.squarespace.com/static/55ca76e9e4b00d6bdfd5eab5/t/55ca9d6be4b091def97caaab/1439341931384/drinks.jpg');
  background-width: 100%;
}

.eventTitle{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  margin: 15px;
}

.eventSubtitle{
  font-size: 20px;
  font-weight: bold;
  /*text-align: center;*/
  color: #2d7b52;
  margin:15px;
}

.pageHeader{
  font-size: 17px;
  text-align: center;
  text-shadow: 1px 1px  #202020 ;
  color:#fff;
  background-color: #202020;
  padding: 10px;
  border-radius: 10px;
}

.eventHeader{
  border-radius: 10px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #eee;
}

.badge.eventTitle {
  font-size: 14px;
}

.badge {
  background-color: #999;
  cursor:pointer;
  margin: 5px;
}

.badge.check {
  background-color: #2d7b52;
}

.event{
  border-radius: 10px;
  padding: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

.event.create {
  border-radius: 10px;
  padding: 10px 35px 20px 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

.title {
  color: #fff ;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 800;
  text-shadow: 6px 6px  #202020 ;
  padding-bottom: 60px;
}

.landingText {
  color: #29a329;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.login {
  font-size: 30px;
  font-weight: 800;
  float: right;
}

.navbar {
    margin-bottom: 0;
    background-color: #2d7b52;
    z-index: 100;
    border: 0;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    color: #fff;
}

.navOption, #dropdownMenu1{
    color: #fff !important;
    margin-top: 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #2d7b52;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.card-img-top {
  border-radius: 50%;
  width: 100px;
}

.row {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.row .border {
  border: 5px solid;
}

.scroll {
  height:128px;
  overflow-x: auto;
}

.square {
  display: inline-block;
  padding: 0 15px 0 15px;
}

.restImage.review {
  margin-top: 0px;
  margin-bottom: 2px;
}

.vertical {
  max-height: 302px; /* Fit no more than 2 restaurant search results*/
  overflow-y: scroll;
}

.navbar-text img {
  max-height:35px;
  border-radius: 50%;
  border: 1px solid black;
  width:auto;
  vertical-align:middle;
}

#logo{
  text-shadow: 3px 3px  #202020 ;
  color: #fff;
  font-size: 35px;
  margin: 15px;
  text-transform: uppercase;
}

#nomargins {
  margin: 0;
}

.eventname {
  font-size: 20px;
}

.highlight:hover {
  background-color: #efefef;
}

p {
  margin: 0 0 2px; 
}

.voteButton {
  background-color: #fff;
  border: none;
  outline: none; /*Removes aura from the pressed button*/
  margin-top: 47px;
  padding: 2px 2px 2px 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  /*display:none;  Button only visible on hover */
}

.voteButton.nomargin {
  margin-top: 2px;
}

.voteButton.clicked {
  background-color: #A6D785;
  display:block;
  opacity: 1.0;
}

#eventActionButton{
  float: right;
  margin-top: 17px;
}

/* Shows the vote button on hover over location selection */
.highlight:hover button {
  display:block;
}

/* Vote icon inside vote button */
.glyphicon {
  font-size: 20px;
}

.h3nomargin {
  padding: 7px 0 7px 0;
}

.decideBy {
  font-size: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.bottom {
  background-color: #000;
}

.validationMessage {
  text-align: left;
  font-size: 14px;
  padding: 7px 10px 7px 10px;
  margin-top: 15px;
  min-height: 20px;
  white-space: pre-line; 
  line-height: 200%;
}

.voteText{
  font-weight: bold;
  font-size: 25px;
  font-style: underline;
  color: #2d7b52;
  float: right;
  padding-right: right;
}

.dateAdder{
  margin-left: 10px;
}

.searchRestButton{
  margin: 10px 10px 10px 0;
}

.modal-dialog {
  z-index: 1000;
}

.greenText{
  font-color: black;
}

h3.a {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}

.removeTimeButton{
  float :right;
  display : inline-block;
  margin-top: -4px;
}

.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.restAddButton{
  margin-right : 20px;
}

.restInfo{
  margin-left : 20px;
}

.restImage {
  display: block;
  margin-top: 7px;
  margin-bottom: 2px;
  width: 100px; /* same as review start image */
  height: auto;
}

/* HEADER */
header {
  background: #2D7B52;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #000;
  z-index: 100;
  color: #FFF;
  font-size: 1.7em;
}

header .logo {
  width: 50px;
  height: 50px;
  vertical-align: top;
  margin-top: 16px;
}

header button {
  background-color: #2D7B52;
  border: none;
}

header #username {
  font-size: 1.3em;
}

header .profile-pic {
  width: 45px;
  height: 45px;
  vertical-align: top;
  margin-top: -10px;
  margin-left: 40px;
  border-radius: 20px;
}

header .nav-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 1.6em;
}

header a {
  color: #FFF;
}

header a:visited, header a:link {
  color: #FFF;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

header nav {
  float: right;
  padding: 20px 0 0 0;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
  float: left;
  padding: 17px 0 0px 45px;
}

header .non-mobile {
  display: inline-block;
}

header .non-mobile li {
  padding: 0px;
  margin-left: 20px
}

header ul.dropdown-menu {
  background-color: #FFF;
  position: absolute;
  width: 100%;
  border: none;
  margin-top: 6px;
}

header ul.dropdown-menu {
  padding: 0;
}

header ul.dropdown-menu a, header ul.dropdown-menu li{
  
  color: #2d7b52;
  text-align: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 1.2em;
}

header .dropdown-menu a:hover, header .dropdown-menu li:hover {
  background-color: #2d7b52;
  color: #FFF; 
}

header span.caret {
  border-width: 8px;
}

/*Fix overlap of fixed header with rest of webpage*/
.header-overlap {
  margin-top: 85px;
}

header .mobile {
  display: none;
}

#yelpSearch {
  margin-top: -85px;
  padding-top: 85px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 720px) {

  header {
    position: fixed;
    font-size: 1.1em;
  }

  header .mobile {
    display:inline-block;
  }

  header .non-mobile {
    display: none;
  }

  .restImage {
    display: block;
    margin-top: 7px;
    margin-bottom: 2px;
    width: 100px; /* same as review start image */
    height: auto;
  }


}

@media only screen and (max-width : 660px) {

  .restImage {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
    width: 50px; /* same as review start image */
    height: auto;
  }

  .voteButton {
    background-color: #fff;
    border: none;
    outline: none; /*Removes aura from the pressed button*/
    margin-top: 20px;
    padding: 2px 2px 2px 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    /*display:none;  Button only visible on hover */
  }

  .miniScreen {
    padding: 0px;
  }

  .event {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;   
  }
  
  .eventSubtitle {
    margin: 5px;
    padding: 5px;
  }

  .eventTitle {
    margin: 5px;
  }

}


